<img class="banner" src="assets/img/banner.png">
<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xl>
        <ul fxLayout fxLayoutGap="35px" class="navigation-items">
            <li>
                <a routerLink="/Accueil">Accueil</a>
            </li>
            <li>
                <a routerLink="/Articles">Articles</a>
            </li>
            <li>
                <a routerLink="/Appel aux témoins">Appel aux témoins</a>
            </li>
            <li>
                <a routerLink="/Ressources">Ressources</a>
            </li>
            <li>
                <a routerLink="/A_propos">A propos</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>