<img class="banner" src="assets/img/banner.png">
<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xl>
        <ul fxLayout fxLayoutGap="35px" class="navigation-items">
            <li>
                <a routerLink="/Accueil" i18n="Website's home">Accueil</a>
            </li>
            <li>
                <a routerLink="/Articles" i18n="Articles section">Articles</a>
            </li>
            <li>
                <a routerLink="/Appel aux témoins" i18n="Witness reports section">Appel aux témoins</a>
            </li>
            <li>
                <a routerLink="/Ressources" i18n="Resources section">Ressources</a>
            </li>
            <li>
                <a routerLink="/A_propos" i18n="About section">A propos</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>