<section fxLayout="column wrap">
    <div fxFlexAlign="center">
      <p>Welcome to the CEP Application</p>
    </div>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore et corrupti, accusamus 
      enim quaerat magni excepturi provident non optio hic quos sequi, quia, doloribus voluptate repudiandae. Corporis, maiores eum.</p>
  
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
      <mat-tab label="Sucre"> 
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi beatae vero non obcaecati, 
          tempore, et reprehenderit doloremque ullam qui voluptatibus ipsum at ea id sequi excepturi consequatur neque, voluptate eveniet?</p> 
      </mat-tab>
      <mat-tab label="patate">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a voluptatibus aut doloremque 
           libero distinctio, animi nobis voluptatem quos autem fuga ad facilis voluptas sunt qui, cum, fugiat perferendis vero?</p>
        </mat-tab>
      <mat-tab label="viande">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dignissimos libero deserunt fugiat porro doloremque
            possimus cupiditate a rerum distinctio exercitationem alias nulla voluptatibus, recusandae eaque itaque laborum animi esse.</p>
        </mat-tab>
    </mat-tab-group>
  </section>